#cover {
  background: #000;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  filter: alpha(opacity=30);
  opacity: 0.3;
  display: block;
  z-index: 2;
  height: 100vh;
}

.editing {
  width: 60%;
  margin: auto;
  height: 60%;
  border: 1px solid #999;
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background: #fff;
  border-radius: 5px;  
}

.editing__tips {
  background: #F8F7F7;
  width: 100%;
  height: 2rem;
  font-size: 0.65rem;
  line-height: 2rem;
  border: 1px solid #999;
  text-align: center;
}

.editing__content {
  text-indent: 50px;
  height: 4rem;
  font-size: 0.5rem;
  padding: 0.5rem;
  line-height: 1rem; 
}

.editing__btn {
  background: #418BCA;
  width: 80%;
  margin: 0 auto;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  color: #fff;
  margin-top: 1rem;
  -moz-border-radius: .128rem;
  -webkit-border-radius: .128rem;
  border-radius: .128rem;
  font-size: .59733rem;
}