.header {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    font-size: 35px;
    font-weight: bolder;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}

.header__newpost {
    margin-right: 50px;
}

.blog__title {
    margin-left: 30px;
}

.blog__title:hover {
    color:#6c757d;
    cursor: pointer;
    text-decoration: underline;
}

.list-group-item, .blog__controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn ~ .btn {
    margin: 10px;
}
